@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

h1, h2, h4, nav{
  @apply text-amber-400;
}

input:focus {
  border-color: #eac42a;  /* Changes the border color when the input is focused */ 
  border:ring-primary;
}
input{
  color:black
}

main{
  @apply px-10 lg:px-40 xl:px-40;
  /* @apply xl:px-30; */
  /* display: flex */
  
}

body {
  /* @apply px-4; */
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}